*{
    margin: 0;
    padding: 0;
    border: 0;

}
body {
    font-family: 'Roboto', sans-serif;
    color: #2d2829;
    size: 30;
    
}
.bg-ex-color{
    background: hsla(0, 0%, 0%, 0.49); /* Цвет блока */
    width: 100%; /* Ширина блока */
    height: 125px; /* Высота блока */
    justify-content: center;
    align-items: center;
    display: flex;
         
  }
.box {
    background: url(bgrounds-gradient1.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px -0px 0px; 
}
.backgroung_about_me {
    color: #2d2829;
    background: hsla(0, 0%, 0%, 0.344); /* Прозрачность */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%; /* Для ширины на весь экран нужно прописать 100% */
    height: 410px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    border-radius: 10px;
    margin-bottom:7%;
   
}

.site-navigation-item a {
    font-size: 13px;
    line-height: 16px;
    color: #2d2829;
    text-transform: uppercase;
    text-decoration: none;
    
  }
  ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
  }
 
  .promo h1 {
    font-size: 50px;
    line-height: 40px;
    text-align: center;
  }
  .main-header-nav {
    width: 100%;
    display: table;
  }
  .main-header-nav ul {
    display: table-row;
  }
  .main-header-nav li {
    display: table-cell;
    background: hsla(0, 0%, 0%, 0.029);
  }
  .main-header-nav ul li:hover, .menu a:hover {
    background: #2e272755;
  }
  .main-header-nav li a {
    display: block;
    padding: 8px 15px;
    color: #2d2829;
    text-align: center;
  }
  .site-navigation {
    list-style: none; 
    top: 20%; 
    border-radius: 10px 0 0  10px;
  
  }
  .navigation {
    top: 18%;
    position:absolute; 
    left: 8%;
    
    
  }
 
.main_me h1{
  position: absolute;
  bottom: 110%;
  left: 23%;
  font-size: 30px ;
}


.main_me {
  width:45%;
  position: absolute;
  left: 40%;
  font-size: 100%;
  top: 40%;
  }

.text {
  position: relative;
  top: 22%;
  font-size: 20px;
  }

.main-footer {
  background: hsla(0, 0%, 0%, 0.49); /* Цвет блока */
  width: 100%; /* Ширина блока */
  height: 90px; /* Высота блока */
  justify-content: center;
  align-items: center;
  display: flex;
  bottom:0;
  position: relative;
}
 .backgroung_art {
  color: #2d2829;
  background: hsla(0, 0%, 0%, 0.344); 
  display: table; 
  justify-content: center;
  align-items: center;
  width: 85%; 
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  position: relative;
  float: left;
  left:7.5%;
  margin-bottom: 7%;
}  

.backgroung_art ul {
	display: table-row;
  position: relative;
}
.backgroung_art  li {
	display: table-cell;
  background: hsla(0, 0%, 0%, 0.029);
  text-align: center;
}
.backgroung_art  ul li:hover, .menu a:hover {
	background: #2e27273c;
}
.backgroung_art  li a {
	display: block;
	padding: 8px 15px;
	color: #fff;
	text-align: center;

}
.main-footer {
	width: 100%;
	display: table;
  position: relative;
  bottom: 0%;
}
.main-footer ul {
	display: table-row;
}
.main-footer li {
	display: table-cell;
  background: hsla(0, 0%, 0%, 0.029);
}
.main-footer ul li:hover, .menu a:hover {
	background: #2e27273c;
}
.main-footer li a {
	display: block;
	padding: 8px 15px;
	color: #fff;
	text-align: center;
  text-decoration: none;

}

.backgroung_about_me img {
  position: absolute;
  left: 13%;
  top: 35%;
  border-radius: 70%;
}


.art {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
  text-decoration: none;

}
 
h2 {
  position: relative;
  left: 100%;
  text-align: center;
}

