*{
    margin: 0;
    padding: 0;
    border: 0;

}
.box {
  background: url(bgrounds-gradient1.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px -0px 0px; 
}
body {
  font-family: 'Roboto', sans-serif;
  color: #2d2829;
  size: 30%;
  
}
.grid{
  display: grid;
  gap:20px;
  justify-content: center;
	grid-template-rows: repeat(3, 400px);
	grid-template-areas:
		'header header header'
		'grid-container grid-container grid-container'
    'backgroung_art backgroung_art backgroung_art'
		'main-footer main-footer main-footer';
}

header {
  grid-area:header;
	text-align: center;
	background: hsla(0, 0%, 0%, 0.49); 
	font-family:'Didact Gothic', sans-serif;
  height: 110px;
  justify-content: center;
  grid-auto-rows: span 3;
}

  

.backgroung_about_me {
  grid-area:grid-container;
  color: #2d2829;
  background: hsla(0, 0%, 0%, 0.344); 
  justify-content: center;
  align-items: center;
  width: 85%; 
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  position: relative; 
  margin-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -15%;
  font-size: 100%;
}
 

.site-navigation-item a {
    font-size: 13px;
    line-height: 16px;
    color: #2d2829;
    text-transform: uppercase;
    text-decoration: none;
    
  }
  ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
  }
 
   h1 {
    font-size: 50px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    width: 100%;
  }
  .main-header-nav {
    width: 100%;
    display: table;
  }
  .main-header-nav ul {
    display: table-row;
  }
  .main-header-nav li {
    display: table-cell;
    background: hsla(0, 0%, 0%, 0.029);
  }
  .main-header-nav ul li:hover, .menu a:hover {
    background: #2e272755;
  }
  .main-header-nav li a {
    display: block;
    padding: 8px 15px;
    color: #2d2829;
    text-align: center;
  }
  .site-navigation {
    display:flex;
	  width:100%;
    list-style: none; 
    top: 20%; 
    border-radius: 10px 0 0  10px;
  
  }
  .navigation {
    top: 15%;
    position:absolute; 
    left: 8%;
  }
 
.main_me h1{
  position: absolute;
  bottom: 110%;
  left: 15%;
  font-size: 300%;
}


.main_me {
  width:45%;
  position: absolute;
  left: 40%;
  font-size: 100%;
  top: 20%;
  }

.text p {
  grid-area: grid-container;
  object-fit: cover;
  position: relative;
  top: 10%;
  left:15%;
  
  }
b {
  grid-area: grid-container;
  object-fit: cover;
  position: relative;
  top: 10%;
  left:15%;


}
.main-footer {
  background: hsla(0, 0%, 0%, 0.49); /* Цвет блока */
  width: 100%; /* Ширина блока */
  height: 90px; /* Высота блока */
  justify-content: center;
  align-items: center;
  display: flex;
  bottom:0;
  position: relative;
}
 .backgroung_art {
  grid-area:backgroung_art;
  color: #2d2829;
  background: hsla(0, 0%, 0%, 0.344); 
  justify-content: center;
  align-items: center;
  width: 85%; 
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  position: relative;
  float: left;
  left:7.5%;
  margin-bottom: 30%;
  display: flex; 
  flex-wrap: wrap;
  font-size: 90%;
  
}  

.backgroung_art ul {
	display: flex;
  position: relative;
  bottom: 7%;
}
.backgroung_art  li {
	display: grid;
  background: hsla(0, 0%, 0%, 0.029);
  text-align: center;
}
.backgroung_art  ul li:hover, .menu a:hover {
	background: #2e27273c;
}
.backgroung_art  li a {
	display: grid;
	padding: 8px 15px;
	color: #fff;
	text-align: center;

}
.main-footer {
	width: 100%;
	display: table;
  position: relative;
  bottom: 0%;
}
.main-footer ul {
	display: table-row;
}
.main-footer li {
	display: table-cell;
  background: hsla(0, 0%, 0%, 0.029);
}
.main-footer ul li:hover, .menu a:hover {
	background: #2e27273c;
}
.main-footer li a {
	display: block;
	padding: 8px 15px;
	color: #fff;
	text-align: center;
  text-decoration: none;

}

.backgroung_about_me> img {
  grid-area: grid-container;
  object-fit: cover;
  width: 35%;
  border-radius: 50%;
  position: relative;
  top: 4%;
  right: 25%;
}


.art {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
  text-decoration: none;

}
 
h2 {
  position: relative;
  left: 100%;
  text-align: center;
}

.article-list>img {
  grid-area: grid-container;
  object-fit: cover;
  width: 100%;
  border-radius: 5%;
  position: relative;
  top: 4%;
  right: 65%;
  margin-bottom: 20%;

}

.article-list >h3 {
position: relative;
left:30%;
bottom: 10%;

}