/* Общие стили */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    margin: 0;
    font-weight: 700;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Стили для шапки */
  header {
    background-color: #000;
    padding: 20px;
  }
  

  h1 {
    color: #ffffff;
    margin: 0;
  }

  .main_me h1 {
    color: #000;
    margin: 0;
  }
  
  .navigation {
    margin-top: 20px;
  }
  
  .site-navigation {
    display: flex;
    justify-content: space-between;
  }
  
  .site-navigation-item {
    margin-right: 10px;
  }
  
  .site-navigation-item a {
    color: #ffffff;
  }
  
  .site-navigation-item a.active {
    font-weight: bold;
  }

 /* Стили для основного контента */
.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  .hero {
    background-color: #49c5b6;
    border-radius: 5%;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .backgroung_about_me {
    padding: 20px;
   
  }
  
  .backgroung_about_me img {
    max-width: 100%;
    border-radius: 10%;
  }
  
  .main_me {
    position: relative;
    top: 50%;
    padding: 20px;
  }
  
  
  /* Стили для раздела со статьями */
  .article {
    background-color:#DF6C4F;
    padding: 20px;
    border-radius: 7%;
  }
  
  .backgroung_art {
    padding: 20px;
   
  }
  .main_me.text {
    font-size: 1em;
}
  .art {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .article-list {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    justify-self: center;
}
  .backgroung_art h2 {
    text-align: center;
    justify-self: center; 
  }
  .article-list h3 {
    margin-bottom: 10px;
  }
  
  .article-list a {
    display: block;
    margin-bottom: 10px;
    color: #000;
  }
  
  .article-list img {
    max-width: 100%;
    height: auto;
  }
  /* Стили для подвала */
  main {
    display: grid;
    margin-bottom: 0;
    background-color:#000;
    padding: 20px;
  }
  
  .social-list {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color:#000;
  }
  
  .social-list-item {
    margin: 0 10px;
  }