
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    margin: 0;
    font-weight: 700;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

  header {
    background-color: #F3DB57;
    padding: 20px;
  }
  

  h1 {
    color: #799FB5;
    margin: 0;
  }

  .main_me h1 {
    color: #799FB5;
    margin: 0;
  }
  
  .navigation {
    margin-top: 20px;
  }
  
  .site-navigation {
    display: flex;
    justify-content: space-between;
  }
  
  .site-navigation-item {
    margin-right: 10px;
  }
  
  .site-navigation-item a {
    color: #799FB5;
  }
  
  .site-navigation-item a.active {
    font-weight: bold;
  }

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  .hero {
    background-color: #F7F5E4;
    padding: 20px;
    position: relative;
  }
 
  .main_me {
    position: relative;
    top: 50%;
    padding: 20px;
    color: #799FB5;
  }
  
  .hero img {
    max-width: 100%;
    justify-self: center;
    justify-self: center;
    
  }
  .photo{
    background-color: #799FB5;
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
     border-radius: 0 0 7% 7%; 
  }
  
  .backgroung_art {
    padding: 20px;
   
  }
  .main_me.text {
    font-size: 1em;
}
.photo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .photo-list {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    justify-self: center;
}
  .backgroung_art h2 {
    text-align: center;
    justify-self: center; 
  }
  .article-list h3 {
    margin-bottom: 10px;
  }
  
  .photo-list a {
    margin-bottom: 10px;
    /* background-color: #F3DB57; */
  }
  
  .photo img {
    max-width: 100%;
    height: auto;
    border-radius: 7%;
  }

  main {
    display: grid;
    margin-bottom: 0;
    background-color: #F3DB57;
    padding: 20px;
  }
  
  .social-list {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #F3DB57;
  }
  
  .social-list-item {
    margin: 0 10px;
  }